/* Start main Rulez */
 body {
     background-color: #f4f4f4;
 }
/* End main Rulez */

/*
* Start Login form
*/
.login {
    width: 300px;
    margin: 100px auto;
}
.login h3 {
    color: #888;
}
.login input {
    margin-top: 10px;
}
.login .form-control {
    background-color: #eaeaea;
}
.login .btn {
    background-color: #008dde;
}
/*
* End Login form
*/
